<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--     <include resource="com/google/cloud/spring/logging/logback-appender.xml" /> -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    
    <springProfile name="default">
        <include resource="com/google/cloud/spring/logging/logback-json-appender.xml" />
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>
    
    <springProfile name="qa | staging | prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    
    <!-- <appender-ref ref="STACKDRIVER" /> -->
</configuration>
